.batch {
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    display: flex;
}

.batch .batch-list {
    width: 65%;
    display: inline-block;
    margin-top: 5vh;
    margin: 1%;
    margin-top: 5vh;
    position: relative;
}

.batch .batch-form {
    width: 30%;
    display: inline-block;
    margin-top: 5vh;
    margin: 1%;
    margin-top: 5vh;
}


@media screen and (max-width:768px) {

    .batch {
        flex-direction: column-reverse;
    }
    .batch .batch-form {
        width: 100%;
    }

    .batch .batch-list {
        width: 97%;
    }
}