section {
    min-height: 40vh;
    padding: 0 9%;
    padding-top: 7rem;
}

.home {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* background: url(../images//about-shape-1.svg) no-repeat; */
    /* background: url(../images//TC.jpg); */
    background-size: center;
    background-position: right;
    margin: 0px;
    padding: 0px;
    /* margin-top: 80px; */
    margin: 5px;
    margin-bottom: 0px;
}





.mySlides {
    display: none
}

img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 2.5rem;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    visibility: hidden;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


.dot-icons {
    position: absolute !important;
    bottom: 1%;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

@media (max-width: 991px) {

    section {
        padding: 0.3%;
        padding-top: 7.5rem;
    }
}



@media (max-width: 768px) {

    /* .home {
        flex-flow: column-reverse;
    } */

    .home .image img {
        width: 100%;
    }

    .home .content h3 {
        font-size: 3.6rem;
    }

    .home .content p {
        font-size: 1.6rem;
    }
}