.offer-wall {
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: row-reverse;
  padding: 2rem 1rem;
  border-bottom: 2px solid var(--clr-grey-1);
  z-index: -1;
  background: #f7f9fa;
  font-family: "Montserrat", sans-serif;
  margin: 3rem;
}

.offer-wall .right {
  max-width: 800px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.offer-wall>.right>p {
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
}

.offer-wall .right .offer-wall-title {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  margin-top: 3vh;
  margin-bottom: 2vh;
  font-weight: bold;
  color: var(--dark);
  text-align: justify
}

.offer-wall>.right>p {
  color: var(--gray);
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-size: 1.7rem;
  line-height: 24px;
  text-align: justify
}

.offer-wall>.right>span {
  font-weight: bold;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 1.5rem;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
}

.offer-wall>.right>ul>li {
  color: var(--clr-grey-1);
  margin: 1rem 0;
  font-size: 1.7rem;
  list-style: none;
  line-height: 34px;
  font-family: "Montserrat", sans-serif;
}

.offer-wall>.right>h3 {
  color: var(--cyan);
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.offer-wall>.right>button {
  background: var(--light-blue);
  color: var(--white);
  padding: 1.5rem;
  font-size: 1/5rem;
  cursor: pointer;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.offer-wall>.right>button:hover {
  background: var(--white);
  color: var(--light-blue);
  cursor: pointer;
  border: 2px solid var(--light-blue);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.offer-wall-img {
  max-width: 500px;
  width: 100%;
  animation: updown 5s infinite alternate;
}

.diamond {
  width: 20px;
}

.odd {
  display: flex;
  margin-top: 5vh;
}

.even {
  display: flex;
  margin-top: 5vh;
  flex-direction: row-reverse;
}

.odd .image {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 7vw;
  height: 7vw;
  background: var(--light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
}

.odd .image:hover {
  background: var(--light-blue);
}

.odd .image i {
  display: inline-block;
  color: var(--white);
  font-size: 5rem;
  color: var(--light-blue);
}

.odd .image:hover i {
  color: var(--white);
}


.even .image {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 110px;
  height: 110px;
  background: var(--light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
}

.even .image:hover {
  background: var(--dark);
}

.even .image i {
  display: inline-block;
  font-size: 5rem;
  color: var(--black);
}

.even .image:hover i {
  color: var(--white);
}

.odd .content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 1vw;
}

.even .content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-right: 1vw;
}

.odd .content h3 {
  height: 50%;
  font-size: 2rem;
}

.even .content h3 {
  height: 50%;
  font-size: 2rem;
}

.odd .content p {
  height: 50%;
  font-size: 1.7rem;
}

.even .content p {
  height: 50%;
  font-size: 1.7rem;
}


@keyframes updown {
  0% {


    rotate: 15deg;
    transform: translate3d(0px, 5px, 15px);
  }


  50% {
    transform: translate3d(0px, -7px, 25px);
  }

  100% {
    transform: translate3d(0px, -5px, 15px);
  }
}

@media screen and (max-width: 1200px) {
  .offer-wall {
    flex-direction: column;
    padding: 0 0.7rem;
  }

  offer-wall>.right {
    max-width: 90vw;
    margin-left: 3vw;
    margin-right: 3vw;
  }

  offer-wall>.right .about-title {
    text-align: left;
  }

  .offer-wall>.right>p {
    font-size: 2rem;
  }

  .offer-wall>.right span {
    font-size: 1.5rem;
  }

  .offer-wall .right ul {
    margin-top: 5vh;
  }

  .offer-wall>.right>ul>li {
    font-size: 1.7rem;
    line-height: 24px;
  }

  .offer-wall-img {
    max-width: 300px;
  }


  .odd .image {
    width: 15vw;
    height: 15vw;
  }
  
  .odd .image .fa-rocket {
    font-size: 4.5rem;
  }
  
  
  .even .image {
    width: 15vw;
    height: 15vw;
  }
  
  .even .image .fa-rocket {
    font-size: 4.5rem;
  }
}





@media screen and (max-width: 992px) {
  .odd .image {
    width: 15vw;
    height: 15vw;
  }
  
  .odd .image .fa-rocket {
    font-size: 5rem;
  }
  
  
  .even .image {
    width: 15vw;
    height: 15vw;
  }
  
  .even .image .fa-rocket {
    font-size: 5rem;
  }
}




@media screen and (max-width: 576px) {
  .offer-wall {
    margin: 3vw;
  }
  .odd .image {
    width: 30vw;
    height: 20vw;
  }
  
  .odd .image .fa-rocket {
    font-size: 4.5rem;
  }
  
  
  .even .image {
    width: 30vw;
    height: 20vw;
  }
  
  .even .image .fa-rocket {
    font-size: 4.5rem;
  }
}