.perfomance {
    display: flex;
    background: #E1DBFF;
    background-color: rgb(225, 219, 255);
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background: #F4F6FF;
}

.perfomance .title h1 {
    font-size: 3.5rem;
    text-decoration: underline;
    font-weight: bold;
}

.perfomance .container {
    width: 100%;
    height: 60%;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.perfomance .container .slide {
    position: relative;
    margin: 5rem;
    width: auto;
    height: 100%;
}

.perfomance .container .slide .mySlides img {
    /* width: 45rem; */
    width: auto;
    height: 65rem;
}

/* .perfomance .container .slide .dot-icons .dot {
    position: absolute;
    bottom: 0;
} */


.perfomance .container .counter {
    width: 100%;
    height: 10%;
    overflow: hidden;
    margin-top: 1rem;
}


@media (max-width: 768px) {
.perfomance .container .slide {
    position: relative;
    margin: 1rem;
    width: auto;
    height: 100%;
}

.perfomance .container .slide .mySlides img {
    width: auto;
    height: 100%;
}

}