.score {
    width: 100vw;
    min-height: 40vh;
    display: flex;
    background: radial-gradient(30vw at 47.17% 41.29%, #7FC6EF 35%, #0283E1 90%);
    justify-content: space-between;
    align-items: center;
    padding-right: 3vw;
    padding-left: 3vw;
    flex-wrap: wrap;
}

.score div {
    width: 20vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score div h3 {
    font-size: 3rem;
    color: var(--white);
}

.score div p {
    font-size: 2.5rem;
    color: var(--white);
}


@media screen and (max-width: 992px) {
    .score {
        padding-right: 5vw;
        padding-left: 5vw;
    }
    .score div {
        width: 45%;
        height: 100%;
    }
}

@media screen and (max-width: 576px) {
    .score {
        min-height: 60vh;
        padding-right: 5vw;
        padding-left: 5vw;
    }
    .score div {
        width: 90%;
        height: 100%;
    }
}