.student .batch-list {
    width: 30%;
    display: inline-block;
    position: absolute;
    right: 0px;
    /* height: 100vh; */
    /* border: 1px solid gray; */
    margin: 5vh;
}





.student .batch-list .batch {
    color: var(--primary);
}




.student .batch-list .batch .title {
    text-align: center;
}

.student .batch-list .batch .list .batch-card {
    width: 97%;
    display: flex;
    flex-direction: column;
    margin: 3%;
    padding: 1rem;
    background: var(--light);
    line-height: 1.5;
    border: 1px solid var(--primary);
}

.student .batch-list .batch .list .batch-card .header {
    border-bottom: 1px solid gray;
}

.student .selected-batch {
    display: none;
    background: blueviolet;
    color: white;
}

@media screen and (max-width: 768px) {
    .student .batch-list {
        display: none;
    }

    .student .selected-batch {
        width: 100%;
        display: block;
        position: absolute;
        top: 0px;
        height: 5vh;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
}