.student .student-form {
    width: 30%;
    /* display: inline-block; */
    /* position: absolute; */
    /* right: 0px; */
    max-height: 150vh;
    border: 1px dotted var(--primary);
    box-shadow: 3px 3px 5px 1px var(--primary);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin: 5vh;
}





.student .student-form {
    color: var(--primary);
    background: var(--light);
    text-align: center;
}






.student .student-form h2 {
    position: sticky;
    top: 0;
    background: var(--light);
    padding: 1rem;
    border-bottom: 1px solid var(--primary);
    margin-bottom: 1rem;
}
.student-form .form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.student .student-form .form-field .select {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* input {
    display: none;
} */

label {
    cursor: pointer;
}

#imageName {
    color: var(--primary);
    /* margin: 1rem; */
    border: none;
    box-shadow: none;
}





.box-border-p {
    border: 1px solid var(--primary);
    padding: 0.3rem;
    margin: 0.5rem;
    box-shadow: 1px 1px 1px 1px var(--primary);
    width: 90%;
}

.student .student-form .form-field .student-property {
    width: 90%;
    padding: 0.5rem;
    margin: 0.3rem;
    box-shadow: 1px 1px 1px 1px var(--primary);
}

.student .student-form .form-field button {
    font-size: 1.5rem;
    padding: 0.3rem;
    margin: 0.5rem;
    background: var(--primary);
    color: white;
    box-shadow: 5px 1px 1px 1px var(--primary);
}

@media screen and (max-width: 768px) {
    .student .student-form {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 5vh;
    }
}