.batch {
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.batch .batch-list {
    width: 65%;
    display: inline-block;
    margin-top: 5vh;
    margin: 1%;
    margin-top: 5vh;
    position: relative;
    min-height: 150vh;
}

.batch .batch-form {
    width: 30%;
    display: inline-block;
    margin-top: 5vh;
    margin: 1%;
    margin-top: 5vh;
    position: absolute;
}










@media screen and (max-width:768px) {

    .batch .batch-form {
        display: none;
    }





    .batch .batch-list {
        width: 97%;
    }
}